@model Biblioteka_bazyDanych.gatunki

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gatunki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nazwa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
